# To Evaluate Sentiment Analysis result using trained model(from pickle - accuracy 92%)

In [3]:
import pandas as pd

In [5]:
data = pd.read_csv('AmazonSentiment.csv')

In [6]:
data.head()

,Unnamed: 0,reviews,scores,compound,comp_score
0,0,Looks niceEdit: after 3 months1 dial of the w...,"{'neg': 0.153, 'neu': 0.72, 'pos': 0.127, 'com...",-0.1154,neg
1,1,"the size of dial is very small,the coin is th...","{'neg': 0.0, 'neu': 0.816, 'pos': 0.184, 'comp...",0.5789,pos
2,2,Too good just go for it,"{'neg': 0.0, 'neu': 0.633, 'pos': 0.367, 'comp...",0.4404,pos
3,3,Watch tik hai par lock bilkul aacha nahi dikh...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos
4,4,Very nice look and worth the money,"{'neg': 0.0, 'neu': 0.5, 'pos': 0.5, 'compound...",0.6115,pos

In [8]:
data.drop('Unnamed: 0' , inplace = True, axis = 1)

In [9]:
data.head()

,reviews,scores,compound,comp_score
0,Looks niceEdit: after 3 months1 dial of the w...,"{'neg': 0.153, 'neu': 0.72, 'pos': 0.127, 'com...",-0.1154,neg
1,"the size of dial is very small,the coin is th...","{'neg': 0.0, 'neu': 0.816, 'pos': 0.184, 'comp...",0.5789,pos
2,Too good just go for it,"{'neg': 0.0, 'neu': 0.633, 'pos': 0.367, 'comp...",0.4404,pos
3,Watch tik hai par lock bilkul aacha nahi dikh...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos
4,Very nice look and worth the money,"{'neg': 0.0, 'neu': 0.5, 'pos': 0.5, 'compound...",0.6115,pos

In [10]:
# Loading pickle

In [11]:
import pickle
pickled_model = pickle.load(open('lsvcmodel.pkl', 'rb'))

In [12]:
X_test = data['reviews']

In [13]:
data['pred_score'] = pickled_model.predict(X_test)

In [14]:
data.head()

,reviews,scores,compound,comp_score,pred_score
0,Looks niceEdit: after 3 months1 dial of the w...,"{'neg': 0.153, 'neu': 0.72, 'pos': 0.127, 'com...",-0.1154,neg,neg
1,"the size of dial is very small,the coin is th...","{'neg': 0.0, 'neu': 0.816, 'pos': 0.184, 'comp...",0.5789,pos,pos
2,Too good just go for it,"{'neg': 0.0, 'neu': 0.633, 'pos': 0.367, 'comp...",0.4404,pos,pos
3,Watch tik hai par lock bilkul aacha nahi dikh...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos,pos
4,Very nice look and worth the money,"{'neg': 0.0, 'neu': 0.5, 'pos': 0.5, 'compound...",0.6115,pos,neg

In [15]:
from sklearn.metrics import accuracy_score , classification_report, confusion_matrix

In [17]:
sent_score = data['comp_score']
pickle_score = data['pred_score']

In [19]:
confusion_matrix(sent_score, pickle_score)

array([[ 854,  590],
       [2130, 8407]], dtype=int64)

In [20]:
print(classification_report(sent_score, pickle_score))

              precision    recall  f1-score   support

         neg       0.29      0.59      0.39      1444
         pos       0.93      0.80      0.86     10537

    accuracy                           0.77     11981
   macro avg       0.61      0.69      0.62     11981
weighted avg       0.86      0.77      0.80     11981

In [21]:
accuracy_score(sent_score, pickle_score)

0.7729738753025623